[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipykernel = "*"
pandas = "==1.2.3"
streamlit = "==1.10.0"
protobuf = "~=3.19.0"
virtualenv = "*"
virtualenvwrapper = "*"
streamlit-option-menu = "*"
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.9"
